body {
    font-family: 'Arial', sans-serif;
    background: rgba(26, 26, 26);
    margin: 0;
    padding: 0;
    height: 80vh;
}

#contributionForm #contributionQuestionId,
#askQuestionForm #username {
    color: #cacaca; 
    font-size: 16px; 
}

#contributionForm #contributionQuestionLink {
    text-decoration: underline;
    color: #27ae60;
}
#contributionForm #contributorName {
    font-weight: bold;
    color: #e74c3c; 
}

form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionNameInput {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #858585;
    background-color: transparent;
    color: #cacaca;
    font-family: "Lexend", sans-serif;
}

.askQuestionButton {
    width: 60%;
    height: 3em; 
    background-color: transparent;
    color: #cacaca;
    border: 2px solid #858585;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: "Lexend", sans-serif;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #d88888;
}

.pageHeading {
    text-align: center;
    color: #cacaca;
    font-size: 2em;
    font-family: "Lexend", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contributionForm #contributionQuestionId,
#contributionForm #contributionQuestionLink,
#contributionForm #contributorName {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #858585; 
    background-color: transparent;
    color: #cacaca; 
    font-family: "Lexend", sans-serif;
    font-size: 16px; 
    box-sizing: border-box; 
    text-decoration: none;
}

#contributionForm input[type="submit"] {
    width: 100%;
    height: 3em;
    background-color: transparent; 
    color: #cacaca;
    border: 2px solid #858585;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: "Lexend", sans-serif;
    margin-top: 1em;
    box-sizing: border-box;
}

.findButton {
    width: 100%;
    height: 3em;
    background-color: transparent; 
    color: #cacaca;
    border: 2px solid #858585;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: "Lexend", sans-serif;
    margin-top: 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}